@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    color: #EDE9DE;
    background-color: #1C2632;
    font-family: "DM Sans", sans-serif;
}

h1{
    font-weight: bold;
    color: #EDE9DE;
    margin: 1vh 0;
}

h2{
    font-weight: bold;
    margin: 1vh 0;
}

p{
    margin: 1vh 0;
}

a{
    color: #FEB161;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    background-color: #1C2632;

    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    color: #C9C2B2;
    
    border-radius: 8px;
    border-style: none;

    padding: 1vh 1vw;
    margin: auto;
}

input[type="file"]{
    font-family: "DM Sans", sans-serif;
    align-items: left;
}

.centertext{
    text-align: center;
}

.righttext{
    text-align: right;
}

.smltxt{
    font-size: small;
    color: #C9C2B2;
}

.content{
    margin: auto;
    width: 50vw;
}

.box{
    background-color: #2C3B4E;
    border-radius: 12px;
    padding: 16px 24px;
    margin: 16px 0;
}

.grid{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.gridbox{
    aspect-ratio: 1/1;
    background-color: #2C3B4E;
    border-radius: 12px;
    padding: 16px 24px;
    margin: 16px 0;
    flex: 1;
}

.grid-img{
    width: 10vw;
    aspect-ratio: 1/1;
}

/* Buttons */

.primary-btn{
    background: linear-gradient(340deg, #A35139, #FEB161);
    background-size: 200% 200%;
    background-position: right top;
    border-style: none;
    border-radius: 8px;
    color: #EDE9DE;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 1vh 1vw;
    transition: 0.3s;
}


.box-btn{
    background-color: #1C2632;
    border-style: none;
    border-radius: 8px;
    color: #EDE9DE;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    padding: 1vh 1vw;
    transition: 0.3s;
}

.primary-btn:hover{
    background-position: right bottom;
}

.box-btn:hover{
    background-color: #080b0e;
}

.img-button{
    width: auto;
    height: 20px;
}

.button-container{
    margin: 2vh 0 2vh 0;
    display: flex;
    vertical-align: middle;
}

.button-container p{
    margin: 0 12px 0 12px;
}

.button-container-side{
    display: flex;
    flex-direction: row;
}

/* Progress bar */
progress{
    width: 100%;
    height: 12px;
    border-radius: 8px;
}

progress::-webkit-progress-bar {
  background-color: #2C3B4E;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background-color: #FEB161;
  border-radius: 8px;
}

/* Infobox */

.infobox-container{
    display: flex;
    gap: 8px;
}

.infobox{
    background-color: #2C3B4E;
    border-radius: 10px;
    padding: 12px;
    flex: 1;
}

.infobox p, .infobox h2{
    margin: 0;
    font-weight: bold;
}

/* Tabs */
.tabs {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tabs button {
    flex: 1;
    background-color: inherit;
    color: #EDE9DE;
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tabs button:hover{
    color: #b8b1a3;
    transition: 0.3s;
}

.tabs button.active {
    color: #FEB161;
    font-weight: bold;
}

.tab-content {
  display: none;
  padding: 16px 0 0 0;
}

/* Post */

.post{
    width: 70%;
    margin: auto;
}

.post-img{
    flex: 1;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-color: #EDE9DE;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

/* Event */

.event{
    display: flex;
    flex-direction: row;
    gap: 16px;
    vertical-align: middle;
    align-items: center;
}

.event-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

.event-img{
    width: 196px;
    height: 96px;
    object-fit: cover;
    border-color: #EDE9DE;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
}

/* Login */

.login-content{
    margin: auto;
    width: 75%;
}

/* Profile */

.pfp-large{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

.display-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2vh 0 2vh 0;
}

.title-profile{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.img-profile{
    object-fit: cover;
}

/* Adaptiv */

@media (max-width: 768px) {
    .content{
        width: 90vw;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-img{
        width: 20vw;
    }
}