.nav{
    background-color: #2C3B4E;
    position: fixed;
    bottom: 12;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    border-radius: 12px;
}

.navimg-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
}

.navimg{
    width: 1.5vw;
    min-width: 24px;
    aspect-ratio: 1 / 1;
}

.navimg.active{
    filter: invert(25%) sepia(33%) saturate(600%) hue-rotate(1deg) brightness(100%) contrast(95%);
}

/* Adaptiv */

@media (max-width: 768px) {
    .nav{
        width: 95vw;
    }
    .navimg-container{
        padding: 2vh 5vw;
    }
}