@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    color: #EDE9DE;
    background-color: #1C2632;
    font-family: "DM Sans", sans-serif;
}

h1{
    font-weight: bold;
    color: #FEB161;
}

h2{
    font-weight: bold;
}

.smltxt{
    font-size: small;
    color: #C9C2B2;
}

.content{
    margin: auto;
    width: 50vw;
}

/* Adaptiv */

@media (max-width: 768px) {
    .content{
        width: 90vw;
    }
}