@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body
{
    background-color: #1c2632;
    color: #feb161;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.square
{
    background: #2c3b4e;
    padding: 3rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}

input, select, textarea, button
{
    width: 90%;
    margin: auto;
    border: none;
    font-size: 2.3vh;
    font-family: "DM Sans", sans-serif;
    padding: 1vh;
}

input[type="file"]
{
    background-color: #2c3b4e;
    color: #feb161;
}

button
{
    background-color: #feb161;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    transition: 0.3s;
}

button:hover
{
    opacity: 80%;
}