.top{
    background-color: #2C3B4E;
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    border-radius: 12px;
}

.topimg-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
}

.topimg{
    width: 1.25vw;
    aspect-ratio: 1/1;
    min-width: 20px;
}

.toplogo{
    width: 6vw;
    height: auto;
    min-width: 96px;
}

/* Adaptiv */

@media (max-width: 768px) {
    .topimg-container{
        padding: 2vh 4vw;
    }
}