@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    background-color: #1c2632;
    font-family: 'DM Sans', sans-serif;
    color: #feb161;
}

.chat{
    background-color: #2c3a4a;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    gap: 1%;
    padding: 18px;
    border-bottom: 1px solid #2c3a4a;
    cursor: pointer;
}

.chat img, img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.chat .name
{
    font-size: 18px;
    font-weight: bold;
}

.chat .msg
{
    font-size: 14px;
    opacity: 0.8;
    color:#C9C1B1;
}

.header
{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.back
{
    font: 26px;
    cursor: pointer;
}

.msgin
{
    background-color: #2c3a4a;
    max-width: fit-content;
    max-width: 50%;
    border-radius: 10px;
    float: left;
    padding: 1vh;
    margin-bottom: 5px;
    clear: both;
}

.msgout
{
    background-color: #2c3a4a;
    max-width: fit-content;
    max-width: 50%;
    border-radius: 10px;
    float: right;
    padding: 1vh;
    margin-bottom: 5px;
    clear: both;
}

.message-bar-static {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #444;
    background-color: #2c3b4e;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    z-index: 1000;
    border-radius: 15px 15px 0  0;
}

.message-bar-static input {
    flex: 1;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #2c3b4e;
    color: #7ba6c3;
    border-radius: 20px 20x 20px 20px;
}

.message-bar-static input::placeholder {
    color: #feb161;
    opacity: 0.6;
}

.message-bar-static button {
    background-color: #feb161;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #1c2632;
    border-radius: 20px 20px 20px 20px;
    margin-left: 2px;
}

.message-bar-static button:hover {
    opacity: 0.8;
}


