/*----GENERAL----*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); 
body{
    margin: 0;
    padding: 0;
    background: #1A2332;
    font-family: 'DM Sans', sans-serif;
    color:#FFF;
}

/*----HEADER----*/

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A2332;
    border-bottom: 1px solid #2C3A4A;
}

/*----SEARCH----*/

.search-container{
    display: flex;
    background: #2A3344;
    padding: 10px 15px;
    border-radius: 25px;
    align-items:center;
    max-width: 80%;
    margin: 20px auto;
}

.search-container input{
    flex: 1;
    background: none;
    border:none;
    outline:none;
    font-size: 16px;
    color:#FFF;
    padding: 8px;
    /*width:10px;
    align-items:center;*/
    
}

.search-container img{
    width:22 px;
}

/*----CONTINENT BUTTONS----*/
.continent-grid{
    margin:20 px;
    /*height:calc(100vh - 240px);*/
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    /*padding: 30px;*/
}

/*phone*/
@media screen and (max-width: 600px){
    .continent-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
/*tablet*/
@media screen and (min-width: 601px) and (max-width: 1024px){
    .continent-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
/*desktop*/
@media screen and (min-width: 1025px){
    .continent-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.continent-card{
    background:#1b2a3a;
    border-radius:18px;
    padding:20 px;
    text-align:center;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.continent-card:hover{
    transform:translateY(-4px);
    background: #223044;
}

.continent-card img{
    width:70px;
    height: 70px;
    object-fit: contain;
   /* border-radius: 12px;*/
    margin-bottom: 10px;
}

.continent-card span{
    color: white;
    font-size: 1.1rem;
    font-weight:600;
}

/*TARI*/

.country-list{
    padding:10 px;
    margin-top: 20px;
    background:#162033;
    border-radius:16 px;
    text-align: center;
    cursor: pointer;
}

.country-list h2{
    text-align: center;
    margin-bottom: 15px;
    color: #ffb65e;
}

.country-item{
    background:#1f2736;
    border-radius:12 px;
    padding:12px;
    margin-bottom: 10px;
    cursor:pointer;
    transition: 0.2s ease;
    font-size: 16px;
}

.country-item:hover{
    background:#2b3a51;
    transform: translateX(4px);
}

/*RESULTS*/

.results{
    margin:20 px;
    padding:15 px;
    background:#1f2736;
    border-radius:15 px;
}

.result-card{
    background:#263146;
    padding:12 px;
    margin-bottom:10 px;
    border-radius:10 px;
}

.toggle-btn{
    margin-top:10px;
    padding:8px 12px;
    background-color:#ffb65e;
    border:none;
    border-radius:8px;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}

.hidden{
    display:none;
}